<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width" />
	<title>{{#if title}}{{title}}{{else}}{{@root.config.title}}{{/if}}</title>
	<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" href="/assets/main.css" />
	<link rel="stylesheet" href="/assets/items.css" />
	<link rel="stylesheet" href="/assets/item.css" />
</head>
<body>
	{{{body}}}
	<script src="/jquery/jquery.min.js"></script>
	<script src="/bootstrap/js/bootstrap.min.js"></script>
	<script src="/imgix.js/imgix.min.js"></script>
	<script src="/assets/bid.js"></script>
</body>
</html>
