.crop-wide {
	display: none;
}
.crop-narrow {
	display: block;
}

.images {
	margin: -1rem;
}
.image {
	margin: 1rem;
}

@media (min-width: 768px) {
	.crop-wide {
		display: block;
	}
	.crop-narrow {
		display: none;
	}
}
